/* Login Page */
.signIn-container {
  max-width: 600px;
  margin: auto auto;
  margin-top: 110px;
}
.card {
  padding: 35px 25px;
  border: none !important;
  border-radius: 0 !important;
}
.loginPage {
  width: 100vw;
  height: 100vh;
  background-color: #ede5e5;
}
.loginBtn {
  border-radius: 0 !important;
}

/* Nav Bar */
.navDiv {
  padding: 10px 69px;
  width: 100%;
}
.navbar {
  background: white !important;
  border-bottom: 2px solid #80808054;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.logoutBtn {
  border-radius: 0 !important;
  float: right;
}
.archived {
  background: #00b99929 !important;
  color: #265b99 !important;
  border: none !important;
  border-radius: 0 !important;
}
.unarchived {
  background: #72777638 !important;
  color: #1c1f24 !important;
  border: none !important;
  border-radius: 0 !important;
}
.dropdown-item {
  padding: 3px 10px !important;
  margin: 0 8px !important;
  width: 90% !important;
}
.dropdown-item:hover {
  color: #1647f1 !important;
  background-color: #cec3f999 !important;
}
